/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

body {
  font-size: 16px;
  font-family:Copperplate, Papyrus, fantasy;
}

.rover-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;  
}

.rover-left img { 
  width: 100px;
  height: 60px;
}

.rover-left a , .rover-right a {
  color: #66727c;
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
}
.rover-left {
  display: flex;
}
.option {
  margin-top:22px;
}

.rover-hero-con {
  background:url("https://i.ibb.co/72SYTZy/hero.jpg");
   height: 600px;
   display: flex;
   justify-content: space-around;
   background-repeat: no-repeat;
   background-size:cover;
   position: relative;
   opacity: 1;
 }
 

.rover-hreo-text {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  justify-content: flex-start;
  margin-top: 80px;
  font-weight: 900;
  text-align: center;
}
.rover-hreo-text h1 { 
  font-size: 2.5rem;
  
}

.rover-hreo-text p {
font-size: 1.5rem;
line-height: 1.7;

}


 button { 

font-size: 1.3rem;
color: #fff;
background-color: #14a96d;
border-radius: 4px;
border: 0px;
padding: 20px 90px 20px 90px ;
}


.services {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}


.middle {
  display: flex;
  justify-content: space-evenly;
}



.first {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin: 10px;
}

.item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.details h3 {
  color: #1b1f23;

  font-size: 0.9rem;
}
.details p {
  color: #66727c;
}


.second {
  display: flex;
  flex-direction: column;
}

.titleBox {
  background:  #f4f5f6;
  border-color: #cfd7de;
  border: 1px solid #cfd7de;
  padding:20px;
  text-align: center;
  width: 100%;
}

.contentBox {
padding: 20px;
color: #1b1f23;
border: 1px solid #cfd7de;
width: 100%;
}


.in-div{
  padding:8px 15px;
  width:100%;
  font-size: 15px;
  margin-top: 20px;
}

.bottom-div {
text-align: center;
color:#1B1F25;
line-height: 1.6;
width: 500px;
}



.third {
height: 500px;
width: 90%;
left: 5%;
position: relative;
margin-top: 90px;
}

.third-section {
background-image: url("https://www.rover.com/static/dist/a16f802b037458af3bbab4db5bd3f93e.jpg");
background-size: cover;
height: 500px;
background-repeat: no-repeat;
background-position: center center;
}

.rover-quote {
  font-size: 26px;
  line-height: 1.6;
  font-weight: bold;
}

.quote{
  width: 300px;
  height: 310px;
  padding: 20px;
  background: white;
  border: 1px solid #cfd7de;
  right: 55%;
  top: -10%;
  position: absolute;
}

.dash {
  width: 40px;
  height: 2px;
  background-color: #14a96d;
  margin: 0 0 20px;
  border-top:2px solid white;
}

.location {
  background: rgb(0,0,0,0.5);
  color:white;
  right: 3%;
  bottom:6%;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  position: absolute;
}

.head-rover {
  text-align: center;
  margin: 80px 0px 30px 0px;
}


.rover-final {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.indv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 40px;
}

.indv-img img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.services-name {
font-weight: bold;
margin-bottom: 5px;
text-align: center;

}

.services-desc {
color:#66727c;
text-align: center;
line-height: 1.6;
}

.in-mobile-container{
  display:none;
}

.in-mobile-container h3{
  color:black;
  font-size: 17px;
  line-height: 1.6;
}

.in-mobile-container button {
  background: linear-gradient(180deg,#178c5f,#207e4f);
  font-weight: 600;
  width: 100%;
  padding: 8px 15px 8px 15px;
  font-size: 16px;
  text-align: center;
}

.in-mobile2 {
  display: none;
}
.item1 img {
  width: 200px;
  height: 200px;
}

.in-mobile-navBar {
  display: none;
}


@media (max-width:660px){

  .rover-header {
    display: none;
  }

  .in-mobile-navBar {
    display: block;
    font-size: 12px;
  }

  .in-mobile-navBar img {
    display: inline-block;
  }
  .main-nav {
    display: none;
  }

  .main-nav a {
    text-align: center;
    margin: 15px auto;
    display: block;
    font-size: 18px;
  }

  .navbar-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer; 
    color: #14a96d;
    font-size: 30px;
}

.active {
  display: block;
}

  .rover-hero-con {
  background: none;
  height: 100px;
  margin-left: 5%;
  }
  .rover-hreo-text{
    display: none;
  }

  .dog {
    display: none;
  }

  .rover-hero-con .in-mobile-container {
    display: block;

  }

  .services {
    text-align: center;
    font-size: 15px;
    margin-left: 6%;
    margin-bottom: 0px;
    color: black;
    }

    
    .in-mobile2 {
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-column-gap: 10px;
      margin-bottom: 20px;
    }


    .middle {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
    }

    .first {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
    }

    .item {
      display: flex;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    
    .item img {
      width: 50px;
      height: 50px;
    }
    
    .details h3 {
      color: #1b1f23;
     
      font-size: 0.9rem;
      margin-bottom: 0px;
    }
    .details p {
      color: #66727c;
      margin-top: 5px;

    }

    .second {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .bottom-div {
      text-align: center;
      color:#1B1F25;
      line-height: 1.6;
      width: 100%;
    }



    
    .third {
      height: 200px;
      width: 100%;
      position: relative;
      margin-top: 40%;
      }
    
    .third-section {
      background-image: url("https://www.rover.com/static/dist/a16f802b037458af3bbab4db5bd3f93e.jpg");
      background-size: cover;
      height: 200px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      }
      
      .rover-quote {
        font-size: 16px;
        line-height: 1.6;
        font-weight: bold;
      }
      .quote{
        width: auto;
        height: 150px;
        position: absolute;
        background: white;
        border: 1px solid #cfd7de;
        top: -140px;
        left: 0px;
        right: 0px;
      }

      .dash {
        width: 40px;
        height: 2px;
        background-color: #14a96d;
        margin: 0 0 20px;
        border-top: 2px solid white;
      }
      
      .location {
        background: rgb(0,0,0,0.5);
        color:white;
        position: absolute;
        right: 28%;
        bottom:7%;
        border-radius: 4px;
        font-size: 10px;
        padding: 5px;
      }
    
      .head-rover {
        text-align: center;
        font-size: 18px;
      }

.rover-final {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 10px;
}
.indv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin:0px;
}

.indv-img img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.services-name {
font-weight: bold;
text-align: left;
font-size:14px;
}

.services-desc {
color:#66727c;
text-align: left;
line-height: 1.2;
font-size:14px;
}

html {
  margin: 0px;
}


  } 


  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }


  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    cursor: pointer;
  }

 
  

 
  label {
    font-weight: bold;
    text-align: left;
  }
.dog {
  display: flex;
  flex-direction: column;
}
  .imgDog {
    border-radius: 50%;
    opacity: 0.7;
    margin-top: 100px;
}